/** @format */
@import './libs/normalize';

body {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #363636;
}
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background: #ffffff;
}
//========================================================================================================================================================

.header {
  padding: 50px 75px 0px;
  margin-bottom: 40px;
  &__search {
  }
}
.search-header {
  &__title {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__items {
    position: relative;
    max-width: 600px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    height: 50px;
    &:hover {
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    }
  }
  &__icon {
    position: absolute;
    transition: all 0.3s ease 0s;
    top: 50%;
    transform: translate(0px, -50%);
    cursor: pointer;
    &-search {
      left: 20px;
      &:hover path {
        fill: #575757;
      }
    }
    &-remove {
      right: 20px;
      &:hover path:not(:first-child) {
        fill: #575757;
      }
    }
  }
  &__input {
    width: 100%;
    padding: 12.5px 60px;
    font-size: 16px;
    line-height: 150%;
    color: #575757;
    transition: all 0.3s ease 0s;
    &:hover {
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    }
    &:focus {
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    }
  }
}
//========================================================================================================================================================
.content {
  padding: 0px 75px 50px;
  &__result {
    font-weight: 600;
    line-height: 1.2;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 45px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -22.5px;
  }
}
//========================================================================================================================================================
.thenews {
  &__image {
    width: 100%;
    height: 245px;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__container {
    margin: -95px 75px 45px;
  }
  &__info {
    margin-bottom: 35px;
    padding: 35px 75px 50px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;
    order: 2;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 50px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 150%;
    color: #000000;
  }
  &__btn {
    margin: 0px 75px;
    font-weight: 700;
    line-height: 150%;
    width: 178px;
    font-size: 16px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
    svg {
      margin-right: 6px;
      transform: rotate(-180deg);
    }
  }
}
